.mainmenu {
  background: var(--mainmenu-bg-color);
  color: var(--mainmenu-color);
  box-shadow: 1px 1px 4px var(--mainmenu-bg-color);
}

.mainmenu-list {
  list-style: none;
}

.mainmenu-link {
  display: flex;
  align-items: center;
  height: var(--navbar-height);
  color: inherit;
  text-transform: uppercase;
  transition: color .2s linear, background-color .2s linear;
  padding: 0 12px;

  &.active,
  &:hover {
    color: var(--mainmenu-active-color);
    background-color: var(--mainmenu-active-bg-color);
  }
}
