html {
  height: 100%;
}

body {
  overflow-y: scroll;
  font: normal 16px 'Roboto', sans-serif;
}

::-moz-selection {
  background: var(--selection-bg-color);
}

::selection {
  background: var(--selection-bg-color);
}

code {
  display: inline-block;
  background: #eee;
  border-radius: 2px;
  padding: 2px 4px;
  margin: 0 4px;
}

hr {
  border: 0;
  height: 1px;
  background: #000;
  margin: 1em 0;
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

p {
  line-height: 2em;
}

a:hover {
  text-decoration: none;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  text-decoration: none;
}

nav ul {
  list-style: none;
}

img {
  max-width: 100%;
}
