:root {
  --mainmenu-color: #000;
  --mainmenu-bg-color: #8392c3;
  --mainmenu-active-color: rgba(255, 255, 255, 0.8);
  --mainmenu-active-bg-color: #333b51;
  --link-color: #007100;
  --link-visited-color: #002f00;
  --selection-bg-color: #c2d5ff;
  --navbar-height: 48px;
}

html {
  height: 100%;
}

body {
  overflow-y: scroll;
  font: normal 16px "Roboto", sans-serif;
}

::-moz-selection {
  background: var(--selection-bg-color);
}

::selection {
  background: var(--selection-bg-color);
}

code {
  display: inline-block;
  background: #eee;
  border-radius: 2px;
  padding: 2px 4px;
  margin: 0 4px;
}

hr {
  border: 0;
  height: 1px;
  background: #000;
  margin: 1em 0;
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

p {
  line-height: 2em;
}

a:hover {
  text-decoration: none;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  text-decoration: none;
}

nav ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.site-wrapper {
  display: grid;
  grid-template-areas: "nav" "main" "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
  justify-self: center;
}

.nav-general {
  grid-area: nav;
  position: relative;
  z-index: 1;
}

.main-general {
  display: flex;
  grid-area: main;
}

.content {
  flex: 1 1 auto;
}

.sidebar {
  width: 240px;
  padding: 24px;
  background: #eee;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.footer-general {
  border-top: 1px solid #666;
  grid-area: footer;
  padding: 24px 0;
}

@media screen and (min-width: 991px) {
  .site-wrapper {
    padding-top: var(--navbar-height);
    box-sizing: border-box;
  }

  .mainmenu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--navbar-height);
  }

  .mainmenu-list {
    display: flex;
    align-items: center;
  }

  .sidebar {
    margin-left: 24px;
  }
}
@media screen and (max-width: 990px) {
  .main-general {
    flex-direction: column;
  }

  .sidebar {
    width: auto;
  }

  .container {
    width: 100%;
  }
}
.mainmenu {
  background: var(--mainmenu-bg-color);
  color: var(--mainmenu-color);
  box-shadow: 1px 1px 4px var(--mainmenu-bg-color);
}

.mainmenu-list {
  list-style: none;
}

.mainmenu-link {
  display: flex;
  align-items: center;
  height: var(--navbar-height);
  color: inherit;
  text-transform: uppercase;
  transition: color 0.2s linear, background-color 0.2s linear;
  padding: 0 12px;
}
.mainmenu-link.active, .mainmenu-link:hover {
  color: var(--mainmenu-active-color);
  background-color: var(--mainmenu-active-bg-color);
}

.accent-box {
  background: #eee;
  padding: 8px;
}

.content-img {
  width: 200px;
  height: 140px;
  object-fit: cover;
  border: 1px solid #000;
  border-radius: 4px;
}

.css3 {
  color: #800080;
  text-shadow: 1px 1px 2px #800080;
  transition: font-size 0.4s ease-in-out;
}
.css3:hover {
  font-size: 4em;
}

.list {
  line-height: 2em;
  list-style: square;
}

/*# sourceMappingURL=style.css.map */
