:root {
  --mainmenu-color: #000;
  --mainmenu-bg-color: #8392c3;
  --mainmenu-active-color: rgba(255, 255, 255, 0.8);
  --mainmenu-active-bg-color: #333b51;
  --link-color: #007100;
  --link-visited-color: #002f00;
  --selection-bg-color: #c2d5ff;
  --navbar-height: 48px;
}

@import "mixins";
@import "reset";
@import "layout";
@import "mainmenu";
@import "common";
