.builder-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
}

.pool {
    display: none;
}

.pool-item {
    display: flex;
    flex-direction: column;
    position: fixed;
    transform: translate(-50%, -50%);
}

.logo {
    font-family: Bahnschrift, sans-serif;
    font-size: 120px;
    text-transform: uppercase;
    letter-spacing: 25px;
    background: #000;
    color: #fff;
    box-shadow: 0 0 3px red;
}

.mainmenu {
    background: #80bdff;
    border: 4px solid blue;
    padding: 0 40px;
}

.mainmenu ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.mainmenu ul li a {
    font-size: 32px;
    color: #000;
    white-space: nowrap;
}

.mainmenu ul li + li {
    margin-left: 40px;
}

.article {
    width: 400px;
    background: #eee;
    border: 4px solid #000;
    border-radius: 8px;
    padding: 8px;
}

.article img {
    float: right
}

.heading {
    text-align: center;
}

.active {
    outline: 10px red dashed;
}
