/* http://xiper.net/collect/html-and-css-tricks/karkas-verstki/podval-k-nizu */
html, body {
    height: 100%;
}

.site-wrapper {
    min-height: 100%;
    position: relative;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

/*prevent overlap text with footer*/
main {
    padding-bottom: 100px; /*footer-height*/
}
